.button {
    margin-top: 10px;
    padding: 10px;
    background-color: $accent;
    color: $white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
.button_cancel {
    display: flex;
    color: rgba(185, 47, 168, 1);
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid rgba(185, 47, 168, 1);
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgba(185, 47, 168, 1);
        color: $white;
    }
}

.button_nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    height: 100%;
    cursor: pointer;
}

.button_Principal {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: rgba(185, 47, 168, 1);
    width: 160px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(185, 47, 169, 0);
    padding: 5px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        background: rgba(9, 7, 41, 1);
        transition: all 1s;
        border: 2px solid rgba(185, 47, 168, 1);
    }
}

.button_ItemView {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
    text-align: center;
    div{
        display: flex;
        align-items: center;
        margin: 0 auto;
        &.icon{
            margin-right: 1px;
        }
        &.title{
            margin-left: 2px;
        }
    }
    &:hover {
        background-color: RoyalBlue;
    }
}

.button_submit {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
    text-align: center;
    &:hover {
        background-color: RoyalBlue;
    }
}
