$primary: lightcoral;
$secundary: lightgreen;
$white: white;
$oscurely: rgb(6, 14, 31);
$primary-dark: #14648e;
$primary: #1d8dc8;
$black: #1c1c1c;
$accent: #1dc8ae;
$graylight: #596a7b;
$graylight-2: #aaaaaa;
$graylight-3: #e9ecee;
$graylight-4: #fafafa;
$white: white;
